.administration-body-container {
    display: flex;
    flex-flow: row nowrap;
    width: 90vw;
    height: calc(100vh - 200px);
    align-items: flex-start;
    justify-content: center;
    margin-left: 6%;
    margin-top: 2%;
}

.list-categories-container {
    display: flex;
    flex-flow: column nowrap;
    width: 15vw;
    background-color: white;
    border-radius: 10px;
    padding: 0 15px;
}

.admin-entities-container{
    padding: 0 14px 0 14px;
}
.admin-entities-header{
    margin-top: 15px;
}

.admin-entities-header, .list-categories-text  {
    font-family: Jost;
    margin-bottom: 5px;
}

.list-categories-text{
    cursor: pointer;
    color: black;
    height: 20px;
    width: 40%;
}

.list-categories-text:hover{
  border-bottom: 1px solid #386ef04f;
}

.administration-table-container{
    background-color: white;
    margin-left: 3%;
    width: 65%;
    min-width: 50%;
    height: 70vh;
    padding: 0 20px;
    overflow: auto;
    box-shadow: 0 0 5px lightgreen;
    font-family: Times New Roman;
    font-size: 15px;
    font-style: normal;
}

.admin-table-content{
    width: 100%;
    table-layout: fixed;
    height: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.admin-col-table{
    color: black;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #dbd6d685;
    word-wrap: break-word;
}

.admin-row-table{
    height: 10%;
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}
.admin-row-table:hover {
    border: 2px solid black;
    background: #e3e2e2;
}

#header-row-table {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    text-align: left;
    padding-top: 10px;
}

.header-col-table{
    padding-top: 20px;
}

.admin-table-row-link {
    color: darkgreen !important;
    cursor: pointer;
}

.admin-table-row-link:hover {
    color: black !important;
}

.administration-filter-container {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 0 5px 10px 14px;
}

.admin-number-col{
    width: 55px;
}

.admin-filter-button {
    margin: 8px 0;
}

.admin-filter-button-container {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 5%;
}
