/* controlling the positioning of logo and the next starting div */

.logo-flex-Agreement{
width: 100%;
display: flex;
justify-content: flex-end;
}

.first-point-agreement-modal{
    font-family: 'Times New Roman';
    font-size: 25px;
    color: #D90027;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

.long-text-agreement-modal{
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    width: 55%;
    margin-bottom: 2vh
}

.body-container-agreement-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
