.main-container-error-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-color: white;
    position: relative;
    bottom: 25px;
}

.body-container-error-page{
    display: flex;
    flex-direction: row;
    gap: 16vh;
}

.main-text-container-error-page{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    justify-content: center;
}

.error-response-error-page{
    font-size: 20vh;
    font-weight: bold;
    font-family: Jost;
}

.error-response-error-page1{
    font-family: Amatic SC;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.footer-error-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Times New Roman;
    font-size: 2vh;
    font-weight: 400;
    position: absolute;
    bottom: -1vh;
    left: 3vh;
}

#parapido-email-error-page{
    color: lightcoral;
	text-decoration: underline;
}

#parapido-email-error-page:hover {
	color: black;
}

.button-error-page{
	width: 45vh;
	margin-top: 28px;
	padding-bottom: 15px;
	background-color: lightcoral;
	border: 2px solid lightcoral;
	border-radius: 10px;
}

.button-error-page:hover{
	cursor: pointer;
	border: 2px solid black;

}

.text-button-error-page{
	position: relative;
    top: 5px;
    font-family: Jost;
    font-size: 15px;
    color: black;
    letter-spacing: 12px;
    display: flex;
    justify-content: center;
}


.text-button-error-page:hover{
	color:floralwhite;
}