.header-flex-container {
    display: flex;
    flex-flow: column-reverse;
}

.page-title-header {
    font-family: "Jost";
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
    margin: 0 auto 25px;
    padding: 0 60px 5px 60px;
    width: fit-content;
    max-width: 95vw;
    
}

.black-title{
    color: black;
    border-bottom: 1px solid black;
}

.white-title{
    color: white;
    border-bottom: 1px solid white;
}

.left-position-title{
    margin-left: 55px;
}

.button-flex-container {
    display: flex;
    justify-content: flex-end;
    width: auto;
    margin-right: 5%;
}

.custom-buttons {
    border: 1px solid black;
    text-decoration: none;
    font-family: "Jost";
    font-weight: 400;
    color: black;
    background-color: #ffebcc;
    text-align: center;
    position: relative;
    width: 110px;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 8px;
    padding: 5px;
}

.custom-buttons.delete-button {
    background-color: #ac1212;
}

.custom-buttons:hover {
    border-color: white;
    cursor: pointer;
}

.custom-buttons:active {
    background-color: #2e856e;
}