@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

.input-field-container {
    margin-bottom: 8px;
}

.MuiFormLabel-filled {
    color: black !important;
}


.MuiFilledInput-root .MuiFilledInput-input {
    background-color: white;
    color: black;
    font-size: 18px;
    font-family: Times New Roman;
    padding: 10px 0px 10px 3px;
}

.MuiFilledInput-root.MuiFilledInput-multiline,
.MuiFilledInput-root.MuiFilledInput-multiline.Mui-focused {
    background-color: white;
}

.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.MuiInputBase-multiline.MuiFilledInput-multiline{
    padding: 0;
}

.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline{
    padding-right: 8px;
}

.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline.MuiFilledInput-inputMultiline:focus{
    background-color: #FFEBCC;
}
.MuiInputBase-root.MuiFilledInput-root.Mui-error.MuiInputBase-formControl {
    border: 2px solid red;
}

.MuiFormControl-root.MuiTextField-root.change-street-address {
    width: 100%;
}

.MuiFormControl-root.MuiTextField-root.change-zipcode-address {
    width: 40%;
}

.MuiFormControl-root.MuiTextField-root.change-name {
    width: 75%;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
    width: 250%;
}

.required-field-error-msg{
    font-family: "Times New Roman";
    color: #cc3300;
    position: relative;
    margin-top: 10px;
    left: -3px;
}

.custom-input-label {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    line-height: 2;
}
.custom-input-multiline{
	font-family: "Times New Roman";
	font-size: 18px;
	width: 100%;
	border: 3px solid black;
	padding-left: 3px;
	padding-right: 3px;
	resize: none
}

.custom-input-multiline:focus{
	background-color: #ffebcc;
	border: 3px solid black;
	outline: none;
}

.black-label-text{
    color: black;
}



