@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

.input-field-container {
    margin-bottom: 35px;
}

.MuiFormLabel-filled {
    color: black !important;
}

.MuiFilledInput-root .MuiFilledInput-input {
    background-color: white;
    color: black;
    font-size: 15px;
    font-family: Jost;
}

.MuiFilledInput-root.MuiFilledInput-multiline,
.MuiFilledInput-root.MuiFilledInput-multiline.Mui-focused {
    background-color: white;
}

