.input-field-container {
    margin-bottom: 35px;
}

.MuiFormLabel-filled {
    color: black !important;
}

.MuiFilledInput-root .MuiFilledInput-input {
    background-color: white;
    color: black;
    font-size: 20px;
}

.MuiFilledInput-root.MuiFilledInput-multiline,
.MuiFilledInput-root.MuiFilledInput-multiline.Mui-focused {
    background-color: white;
}

