.label-item-dropdown{
	font-family: "Jost";
	font-weight: 400;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
}

.item-dropdown {
	min-width: 150px;
	min-height: 44px;
}

.MuiInputBase-root.MuiInput-root.item-dropdown.dropdown-error {
    border-color: #cc3300;
}

.required-dropdown {
	font-family: "Times New Roman";
	color: #cc3300;
	position: relative;
	left: -3px;
	width: 110%;
}

.black-label-text{
	color: black;
}






