@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

/* title and line */

.job-creation-page-header{
    font-family: "Jost";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 60px;
	/* float: left; */
	text-align: left;
	color: white;
	border-bottom: 1px solid white;
	width: 700px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
    margin-left: 150px
}

/* first 5 boxes of label input better known as the center body of the layout */

.big-flexbox-for-2-flexbox-containers{
	display: flex;

	/* testing purposes */

	/* background-color: red; */
	width: 85%;
	margin-left: 150px;
	flex-direction: row;
	justify-content: space-between;
}

.big-flexbox-for-2-flexbox-containers .selected {
	position: relative;
	right: 350px;
	top: px;
	display: flex;
	flex-direction: column;
	line-height: 2.5;
	text-align: left;
}

/* title and description */

.left-body-container-1-job-creation{
	display: flex;
    flex-direction: column;
    line-height: 2.5;
    text-align: left;
}

/* all labels have the same style */

.label-job-creation{
  	font-family: "Cormorant Garamond";
	font-style: italic; 
    font-weight: 400;
    font-size: 16px;
    color: white;
	letter-spacing: 1px;
}

/* title input */

.input-1-job-creation{
	font-family: "Jost";
	width: 200%;
	padding: 12px 20px;
	padding-bottom: 6px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid black;
	outline: none;
	font-size: 16px;
	display: inline;
}

.input-1-job-creation:focus{
		background-color: #FFEBCC;
}

/* description textarea */

.input-2-job-creation{
	font-family: "Jost";
	width: 200%;
	word-wrap: break-word;  
	padding: 12px 20px;
	padding-bottom: 100px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid black;
	outline: none;
	font-size: 16px;
	display: inline;	
	resize:none;
}

.input-2-job-creation:focus{
		background-color: #FFEBCC;
}

/* municipality and zipcode */

.mini-flex-box-job-creation{
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	gap: 30%;
}

.input-3-job-creation{
	font-family: "Jost";
	width: 100%;
	padding: 12px 20px;
	padding-bottom: 6px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid black;
	outline: none;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	width: 80%;
	text-align: center;
	display: block;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.input-3-job-creation:focus{
		background-color: #FFEBCC;
}

/* Material ui override dropdown styling  */

.job-creation-dropdown{
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	border: 3px solid black;
	outline: none;
	font-family: "Jost";
	font-size: 16px;
}

.MuiSelect-root{
	padding-bottom: 0px;
	padding-right: 0px;
	width: 102px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	height: 42px;
}

.MuiInputBase-input{
	text-align: center;
	position: relative;
	top: 10px;
}