/* first 5 boxes of label input better known as the center body of the layout */

.big-flexbox-for-2-flexbox-containers-job-creation{
	display: flex;
	width: 70%;
	margin-left: 150px;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.big-flexbox-for-3-flexbox-containers-job-creation{
	display: flex;
	flex-direction: column;
	line-height: 2;
	text-align: left;
}

/* title and description */

.left-body-container-1-job-creation{
	display: flex;
	flex-direction: column;
	line-height: 2.5;
	text-align: left;
}

/* title input */

.MuiFormControl-root.MuiTextField-root.input-title-job-creation {
	width: 200%;
}

.MuiFormControl-root.MuiTextField-root.input-street-job-creation {
	width: 140%;
}

/* description textarea */

.input-description-job-creation{
	font-family: "Jost";
	width: 200%;
	word-wrap: break-word;
	padding: 12px;
	box-sizing: border-box;
	border: 2px solid black;
	outline: none;
	font-size: 14px;
	resize:none;
}

.input-description-job-creation:focus{
	background-color: #FFEBCC;
}

/* managing error for price input */

.input-error{
	border-color: #cc3300;
}

.without-error{
	border-color: black;
}

.MuiFormControl-root.MuiTextField-root.input-error {
    border: 2px solid #cc3300;
}

.MuiFormControl-root.MuiTextField-root.without-error{
	border: 2px solid black;
}

.MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl{
    border: transparent;
	font-size: 14px;
	font-family: Jost;
}

.MuiInputBase-input.MuiInput-input.CurrencyTextField-textField-1.CurrencyTextField-textField-3.MuiInputBase-inputAdornedStart{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* city and zipcode */

.mini-flex-box-job-creation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30%;
	width: 135%;
}

/* price, category and available days */

.big-flexbox-for-3-lower-flexbox-containers-job-creation{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-evenly;
	line-height: 2.5;
	align-items: center;
	flex-wrap: wrap;
}

.price-miniflex-job-creation{
	display: flex;
	flex-direction: column;
	line-height: 2.5;
	margin-left: 6.8vh;
}

.chip-flex-job-creation {
	color: #2F2D4A;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-left: -4px;
}
 
.MuiInputBase-root {
	background-color: white;
	border: 2px solid black;
} 

.MuiFormLabel-root{
	line-height: 0px;
} 

.MuiInputBase-root:focus-within {
	background-color: #FFEBCC;
}

.MuiInputBase-input:focus{
	background-color: #FFEBCC;
}


.MuiInputBase-input.CurrencyTextField{
	height: 30px;
	text-align: left;
}


.MuiTypography-root.MuiTypography-colorTextSecondary{
	color:black;
	margin-left: 3px;
}

.required-field-2-job-creation {
	font-family: "Times New Roman";
	color: #cc3300;
	position: relative;
	bottom: 8px;
	left: -3px;
	margin-top: 8px;
	width: 150%;
}

.job-creation-available-days-disclaimer{
	font-size: 13px;
	font-style: normal;
	color: lightpink;
	line-height: 0px;
	margin-bottom: 6px;
}

.server-error-job-creation{
	position: absolute;
	width: 100%;
	bottom: 89.2vh;
	border-radius: 0vh;
	height:4%;
	display:flex;
	justify-content:center;
	align-items: center;
}

.server-error-job-creation1{
	position: absolute;
	width: 50%;
	bottom: 77vh;
	margin-left: 15vh;
	height: 4%;
	display: flex;
	justify-content: center;
	align-items: center;
}





