@import "Header.css";
@import "BodyTable.css";

#job-student-assigned-name {
    color: white;
}

#job-student-assigned-name:hover {
    color: #ffebcc;
    cursor: pointer;
}

.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
    font-family: "Jost";
    font-size: 14px;
}