/* dropdowns and filters*/

.first-flex-container-job-dashboard-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
	margin-bottom: auto;
}

/* circular loading of cards after filter */

.loading-icon-job-dashboard {
	justify-content: center;
	display: flex;
	align-items: center;
	height: 50vh;
}