@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

/* title and line  */

.job-dashboard-page-header {
	font-family: "Jost";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 60px;
	text-align: center;
	color: white;
	border-bottom: 1px solid white;
	width: 700px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 80px;
}

/* all labels have the same style */

.label-job-dashboard{
font-family: "Cormorant Garamond";
  font-style: italic; 
  font-weight: 400;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  line-height: 2.5;
}

/* dropdowns and filters*/

.first-flex-container-job-dashboard-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Material ui override dropdown styling  */

.MuiInputBase-root {
    background-color: white;
	font-size: 17px;
}

.MuiMenuItem-root{
	font-family: "Jost";
}

.MuiSelect-root{
	display: inline;
	padding-bottom: 0px;
	padding-right: 0px;
	width: 190px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	height: 42px;
}

.MuiInputBase-input{
	animation-name: none;
	animation-duration: 0ms;

}

/* arrow icon in Material ui dropdown */

.MuiSelect-icon{
	color: darkblue;
}

/* what changes when you select something */

.MuiSelect-select{
	background-color:white ;
	display: grid;
	align-content: center;
	text-align: center;
	
}

/* inside Material ui dropdown */

.MuiListItem-button{
	background-color: white;
}

.MuiList-padding{
	padding-top: 0px;
	padding-bottom: 0px;
}

.MuiList-root{
	background-color: #FFEBCC;
}
