
.titleLink {
  color: aliceblue;
}

.job-listing-page-header {
    width: 50%;
    font-weight: bold;
	font-size: 60px;
	text-align: left;
	color: black;
	border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin: 65px;
}

#go-back-button {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 85%;
    background-color: #FFEBCC;
    border: 2px black solid;
    margin-top: 35px;
    margin-left: 100px;
}

#checkbox-style {
    width: 3%;
    position: absolute;
    padding: 2px;
    margin-left: 46%;
    vertical-align: middle;
    height: 60px;
    margin-top: -59px;
}

.month-dropdown-style {
    position: absolute;
    left: 1382px;
    top: 115px;
}

.year-dropdown-style {
    position: absolute;
    left: 1200px;
    top: 115px;
}

.citi-field-error {
	color: #f44336;
	margin-right: 14px;
	margin-left: 14px;
	margin-top: 3px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}

.empty-list-msg {
	font-weight: bold;
	color: black;
    margin: 65px;
    top: 100px;
}

.outer-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.list-flexbox{
    display: flex;
    flex-wrap: wrap;
    width:50%
}

.filters-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content:flex-start;
    column-gap: 50px;
}

.right-flexbox{
    width: 30%;
    justify-content: space-evenly;
    margin-top: 3%;
}

#picture-style{
    width: 100px;
    height: 100px;
    margin-left: 5%;
    margin-top: 100px;
}


