#listing-title {
    position: absolute;
    left: 10px;
    color: aliceblue;
    width: 300px;
    padding: 17px;
    text-align: left;
    vertical-align: middle;
    height: 60px;
}

.titleLink {
  color: aliceblue;
    text-underline: aliceblue;
}

#listing-price {
    position: absolute;
    left: 250px;
    color: aliceblue;
    width: 200px;
    text-align: center;
    padding: 17px;
    vertical-align: middle;
    height: 60px;

}

#listing-date {
    position: absolute;
    left: 620px;
    color: aliceblue;
    width: 200px;
    text-align: center;
    padding: 17px;
    vertical-align: middle;
    height: 60px;
}

#list-style {
    position: absolute;
    top: 200px;
    left: 55px;
}

#list-bullet-style {
    list-style-type: none;
}

.job-listing-page-header {
	font-weight: bold;
	font-size: 60px;
	text-align: left;
	color: black;
	border-bottom: 2px solid black;
	width: 700px;
    padding-bottom: 20px;
    margin: 65px;
    top: -10px;
}

#go-back-button {
    position: absolute;
    width: 200px;
    height: 90px;
    left: 1382px;
    top: 300px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: #FFEBCC;
    border: 2px black;
}

#delete-button {
    position: absolute;
    left: 900px;
    padding: 2px;
    vertical-align: middle;
    height: 60px;
}

#checkbox-style {
    position: absolute;
    padding: 2px;
    left: 820px;
    vertical-align: middle;
    height: 60px;
}

.month-dropdown-style {
    position: absolute;
    left: 1382px;
    top: 115px;
}

.year-dropdown-style {
    position: absolute;
    left: 1200px;
    top: 115px;
}

.citi-field-error {
	color: #f44336;
	margin-right: 14px;
	margin-left: 14px;
	margin-top: 3px;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.66;
	letter-spacing: 0.03333em;
}

.empty-list-error {
	font-weight: bold;
	font-size: 60px;
	text-align: left;
	color: red;
	border-bottom: 2px solid red;
	width: 700px;
    padding-bottom: 20px;
    margin: 65px;
    top: 100px;
}