/* navbar box */

.landing-nav {
	display: flex;
	align-items: center;
	height: 50px;
	font-family: "Cormorant Garamond";
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 40px; /* moves the elements below the nav bar */
	position: fixed;
	width: 100%;
}

/* contact and email container */

.mini-flex-contactus {
	display: flex;
	flex-direction: row;
	color: white;

	/* testing purposes*/
	/* background-color: crimson; */
}

/* each item on the navbar except the logo*/

.landing-nav-links {
	display: block;

	/* testing purposes */
	/* background-color: turquoise; */

	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: white;
	width: 25%;
}

.landing-nav-links li {
	list-style: none;
}

.landing-nav-links #link {
	color: white;
	text-decoration: none;
	letter-spacing: 1px;
	cursor: pointer;
}

.landing-nav-links #link:hover {
	color: burlywood;
}

/* body text */

.first-point-landing {
	color: white;
	position: fixed;
	top: 250px;
	left: 450px;
	font-family: "Times New Roman";
	font-size: 25px;
	white-space: pre;

	/* it does it on big screen - break the text */

	/* white-space: pre-wrap;
	width: 400px;
	height:10px;
	padding: 10px;
	border: solid 1px #ccc;
	word-break: break-all; */
}

.second-point-landing {
	color: #91eb8f;
	position: fixed;
	top: 290px;
	left: 450px;
	white-space: pre;
	font-family: "Times New Roman";
	font-size: 40px;
	font-weight: bold;
	white-space: pre;
}

.first-paragraph-landing {
	color: white;
	position: fixed;
	top: 370px;
	left: 450px;
	font-family: "Times New Roman";
	font-size: 16px;
	width: 540px;

	/* border: solid 1px #ccc; */
	text-align: justify;
	word-break: break-word;
	hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	line-height: 22px;
}

/* landing page button */

.button-landing {
	display: inline-block;
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin: 0.1em;
	border: 0.2em solid black;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Jost";
	font-weight: bold;
	font-size: 20px;
	color: black;
	background-color: #ffebcc;
	text-align: center;
	position: relative;
	top: 540px;
	left: 600px;
}

.button-landing:hover {
	border-color: white;
}

.button-landing:active {
	background-color: #2e856e;
}
