@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

/* title and line  */

.profile-page-header {
	font-family: "Jost";
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 60px;
	text-align: center;
	color: white;
	border-bottom: 1px solid white;
	width: 700px;
	margin: 0 auto;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

/* parent - flex between profile - body text - buttons */

.parent-flex-container-profile-page {
	display: flex;

	/* testing purposes */
	/* background-color: red; */
}

/* card */

.child1-flex-container-profile-page {
	margin-right: 60px;
	margin-left: 83px;
}

/* remove bullets */

.bullet-removal-profile-page {
	list-style: none;
}

/* body text */

.child2-flex-container-profile-page {
	margin-top: 85px;
	font-family: "Cormorant Garamond";
	font-size: 30px;
	font-weight: 200;
	color: white;
	line-height: 50px;
}

/* buttons */

.button-profile-page {
	display: inline-block;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0.1em;
	border: 0.2em solid black;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Jost";
	font-weight: bold;
	color: black;
	background-color: #ffebcc;
	text-align: center;
	position: relative;
	border-radius: 2%;
}

.button-profile-page:hover {
	border-color: white;
}

.button-profile-page:active {
	background-color: #2e856e;
}

.button-profile-page-flex-container {
	margin-top: 0px;
	float: right;
}

/* flex within the body text for bold and spacing */

.body-flex-profile-page {
	list-style: none;
	display: flex;

	/* text-align: justify; */
	/* testing purposes */
	/* background-color: thistle; */
}

.child-body-flex-profile-page {
	font-family: "Times New Roman";
	font-weight: bold;
	margin-right: 50px;
}

.child1-body-flex-profile-page {
	font-family: "Times New Roman";
	font-weight: bold;
	margin-right: 43px;
}

.child2-body-flex-profile-page {
	font-family: "Times New Roman";
	font-weight: bold;
	margin-right: 29px;
}

.break-text-profile-page {
	width: 80%;
	padding-top: 10px;

	/* testing */
	/* border-style: solid;
	border-color: white; */

	border-width: 1px;
	padding-left: 5px;
	padding-bottom: 10px;
	text-align: justify;
	word-break: break-word;
	hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
}
