@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300;1,500&display==swap");

/* invisible parent box on the back */

.body-profile {
	box-sizing: border-box;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	display: grid;
	place-items: center;
	/* testing */
	/* background-color: black; */
	letter-spacing: 1px;
	line-height: 1.5;

	margin-left: 50px;
}

/* square holding text and image inside */

.card {
	/* testing */
	/* box-shadow: 0px 0px 20px white; */

	width: 95%;
	height: 95%;
	color: white;
	background-color: black;
	font-family: "Jost";
	font-weight: "bold";
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
	border: 3px solid #036800;
	border-radius: 20px;
}

/* header text username and rating */

.header-list {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	margin-top: 120px;
	margin-bottom: 65px;
	padding: 0px;
	line-height: 2;
}

/* profile picture */

.profile-image {
	border-radius: 50%;
	border: 0.5mm solid #ffebcc;
}

/* box in header */

.box-top {
	width: 290px;
	height: 80px;
	background: #036800;
	border-top-left-radius: 19px;
	border-top-right-radius: 19px;
}

/*footer line */

.footer-line {
	flex-wrap: wrap;
	width: 100%;
	flex-basis: 100%;
	border-top: 2px solid #036800;

	/* moves the box inside the box in the footer */
	padding-bottom: 0px;
	padding-top: 4px;
}

/* top card lettering */

.top-card-lettering {
	font-family: "Cormorant Garamond";
	font-style: "Italic";
	font-weight: bold;
	color: white;
	font-size: 40px;

	/* small container for lettering to be centered all the time no matter change*/

	/* testing pusposes */
	/* background: black; */
	box-sizing: border-box;
	border-radius: 20px;
	width: 300px;

	display: grid;
	place-items: center;
	margin-left: 50px;

	display: flex;
	flex-direction: row;
	align-content: space-around;
	gap: 10px;
	justify-content: center;

	margin-bottom: 20px;
}
