/* invisible parent box on the back */
.body-profile-card {
	box-sizing: border-box;
	border-radius: 20px;
	width: 300px;
	height: 400px;
	display: grid;
	place-items: center;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-left: 50px;
}

/* square holding text and image inside */
.profile-card {
	width: 95%;
	height: auto;
	color: white;
	background-color: black;
	font-family: "Jost";
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
	border-radius: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* header text username and rating */

.header-list-profile-card {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 120px 0 65px;
	line-height: 2;
}

/* profile picture */

.profile-card-image {
	border-radius: 50%;
	border: 0.5mm solid #ffebcc;
}

/* box in header */

.box-top-profile-card {
	width: 290px;
	height: 80px;
	background: #036800;
	border-top-left-radius: 19px;
	border-top-right-radius: 19px;
}

/* footer line */

.footer-line-profile-card {
	flex-wrap: wrap;
	width: 100%;
	flex-basis: 100%;
	border-top: 2px solid #036800;

	/* moves the box inside the box in the footer */
	padding: 5px;

	/* makes text not overflow from the card and gives 3 dots */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

/* top card lettering */

.top-profile-card-lettering {
	font-family: "Cormorant Garamond";
	font-weight: bold;
	color: white;
	font-size: 25px;
	display: flex;
	flex-flow: row;
	box-sizing: border-box;
	border-radius: 20px;
	width: 50px;
	place-items: center;
	align-content: space-around;
	grid-gap: 10px;
	gap: 10px;
	justify-content: center;
	padding-top: 25px;
	height: 10px;
	margin-top: 10%;
	margin-left: 35%;
}
.profile-card-container {
	margin-right: 25px;
}
