
.child2-grid-container {
	width: 60%;
}

.edit-info-grid-container {
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 20px 40% 40% auto;
	display: grid;
	grid-gap: 5px 120px;
	position: relative;
	top: 35px;
}
.grid-edit-info-item1 {
	grid-column-start: 1;
	grid-row-start: 2;
}
.grid-edit-info-item2 {
	grid-column-start: 1;
	grid-row-start: 3
}
.grid-edit-info-item3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
}

.grid-edit-info-item4 {
	grid-column-start: 2;
	grid-row-start: 2;
}

.grid-edit-info-item5 {
	grid-column-start: 2;
	grid-row-start: 3;
}

.grid-edit-info-item6 {
	grid-column-start: 2;
	grid-row-start: 4;
}

.grid-edit-info-item7 {
	grid-column-start: 1;
	grid-row-start: 1;
}

.grid-edit-info-item8 {
	grid-column-start: 2;
	grid-row-start: 1;
}

h2.edit-subheaders {
	color: white;
	margin-bottom: 9px;
	font-family: "Jost";
	font-size: 20px;
	position: relative;
	bottom: 12px;
}

.save-change-button {
	float: right;
	top: 22px;
}

.loading-icon {
	justify-content: center;
	display: flex;
	align-items: center;
	height: 100%;
}

.label-about-profile-page{
	font-family: "Cormorant Garamond";
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	color: white;
	letter-spacing: 1px;
	line-height: 2;
}

.custom-file-upload-profile-page {
	padding: 10px;
	background-color: #FFEBCC;
	border: 2px solid black;
	border-radius: 10px;
	font-family: jost;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	margin-left: -1.8px;
	display: flex;
	align-items: center;
	align-content: center;
	gap: 4px

}

.custom-file-upload-profile-page:hover {
	border-color: white;
}

.custom-file-upload-profile-page:active {
	background-color: #2e856e;
}
	
.change-about-style-profile-page{
	font-family: "Jost";
	font-size: 15px;
	width: 100%;
	border: 2px solid black;
	padding-left: 3px;
	padding-right: 3px;
	resize: none
}

.change-about-style-profile-page:focus{
	background-color: #ffebcc;
	border: 3px solid black;
	outline: none;
}

.upload-profile-pic-container {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: flex-end;
	margin-top: 40px;
	align-items: center;
	gap: 0.5vh
}

.upload-file-text {
	margin-bottom: 1vh;
	color: white;
	font-size: 12px;
}