#rate-button {
    width: 60px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
    background-color: #FFEBCC;
    border: 2px black solid;
}

#rate-button:hover{
    color:white;
}


#rate-button:active{
    background-color: green;
}